.home {
    height: 98vh;
    width: 100%;
}

nav {
    height: 4rem;
    background-color: rgb(221, 249, 249);
    border-bottom: 3px solid rgb(221, 249, 249);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

nav>a {
    position: absolute;
    top: 1rem;
    left: 48vw;
    height: 3rem;
    width: 4vw;
    font: bolder;
    font-size: 40px;
    background-color: white;
    border: 2px solid rgb(28, 200, 248);
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>a:hover {
    background-color: rgb(28, 200, 248);
    color: white;
}

nav>h1 {
    font-size: 35px;
    font-weight: bolder;
    background: linear-gradient(to right, #ed0f0c, #f92a6f, #4702be, #015ca7, #016876, #105b14, #e6fb05, #643e01, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav>section>button {
    background: linear-gradient(to right, rgb(5, 174, 186),rgb(173, 171, 171), rgb(2, 80, 188));
    color: white;
    border: none;
    height: 2.5rem;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    cursor: pointer;
}

nav>section>button:hover {
    background-color: white;
    border: 2px solid rgb(9, 199, 246);
}

.board {
    display: flex;
}

.board__left {
    flex: 0.7;
    height: calc(98vh - 4rem);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
}

.board__right {
    flex: 0.3;
    height: calc(98vh - 4rem);;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2PX dotted rgb(9, 199, 246);
}

@media screen and (max-width:960px){
    nav>a {
        width: 5vw;
    }
    .board__right {
        display: none;
    }

    .board__left {
        flex: 1;
    }
}

@media screen and (max-width:760px) {
    nav>a {
        width: 7vw;
    }
}

@media screen and (max-width:485px){
    nav>h1 {
        font-size: 25px;
    }

    nav>a {
        display: none;
    }

    nav>section>button {
        height: 2rem;
        font-size: 18px;
    }
}